<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <meta name=viewport content='width=device-width'>

  <title>s3-log Viewer</title>

  <!--<link rel=icon href=/favicon.svg sizes=any type=image/svg+xml>
  <link rel=stylesheet href=style.css>-->
  <script src=ua-parser.js></script>
  <style>
    :root { font-family: system-ui; }
    table { border-collapse: collapse; }
    td { max-width: 15rem; }
    th { text-align: initial; }
    td, th {
      border: solid transparent;
      border-width: .25rem 1rem;
    }
  </style>
</head>

<script id=logs type=text/ndjson> <% cat ../.s3-log.json %> </script>
<script id=geoip type=text/ndjson> <% cat ../.s3-log.geoip.json %> </script>

<main>
  <h1>s3-log viewer</h1>

  <table>
    <thead>
      <tr>
        <th>Date <th>Page <th>Referrer <th>City <th>Network <th>User agent
    <tbody />
  </table>
</main>
<script>
  const logs = document.querySelector('script#logs').text
                .trim().split('\n').map(JSON.parse)
      , geodb = document.querySelector('script#geoip').text
                .trim().split('\n').map(JSON.parse)
      , tbody = document.querySelector('tbody')
      , geomap = new Map(geodb.map(o => [o.ip, o]))

  logs.forEach(log => { log.date = new Date(log.date) })
  logs.sort((L1, L2) => L2.date - L1.date)

  for (const log of logs) {
    const tr = tbody.insertRow()
    for (const data of cellGen(log)) {
      tr.insertCell().textContent = data
    }
  }

  function getLoc(geo) {
    const loc = [ geo.city, geo.region_code ?? geo.region, geo.country ].filter(p => !!p)

    if (loc.length > 1 && geo.country === 'United States') { loc.pop() }
    return loc
  }

  function *cellGen(log) {
    const { browser, os } = UAParser(log.ua)
        , geo = geomap.get(log.ip)

    yield new Date(log.date).toLocaleString()
    yield new URL(log.lsource ?? log.source).pathname
    yield log.referrer
    yield getLoc(geo).join(', ')
    yield orgClean(geo.organization)
    yield browser.name + '/' + os.name
  }

  function orgClean(org) {
    // Exact matches
    switch (org) {
      case 'MIDCO-NET': return 'Midco'
      case 'AMAZON-AES': return 'Amazon AES'
      case 'STRATA-NETWORKS': return 'Strata'
      case 'GOOGLE-FIBER': return 'Google Fiber'
      case 'GOOGLEWIFI': return 'Google WiFi'
      case 'GOOGLE': return 'Google'
      case 'FACEBOOK': return 'Facebook'
      case 'MICROSOFT-CORP-MSN-AS-BLOCK': return 'Microsoft/MSN'
      case 'ALLENPRESSKANSAS': return 'Allen Press'
      case 'SUREWEST-KANSAS': return 'Surewest KS'
      case 'CELLCO-PART': return 'Cellco/Verizon'
      case 'TOT Public Company Limited': return 'TOT Ltd'
    }
    // Non-capturing patterns
    if (org.match(/^AMAZON-\d+$/)) { return 'Amazon' }
    if (org.match(/^COGENT-\d+$/)) { return 'Cogent' }
    if (org.match(/^COMCAST-\d+$/)) { return 'Comcast' }
    if (org.match(/^ATT-MOBILITY/)) { return 'AT&T Mobility' }
    if (org.match(/^ATT-INTERNET/)) { return 'AT&T Internet' }
    if (org.match(/^T-MOBILE-AS\d+$/)) { return 'T-Mobile' }
    let m
    // Capturing patterns
    if (m = org.match(/^TWC-\d+-([A-Z]+)$/)) { return 'TWC ' + m[1] }

    // Default
    return org
  }

</script>
</html>
